{%extends 'openpage.html'%} {%load static%} {%block scripts%}
<script>
  // console.log("room name is ", room_name);
  const b = "{{ roomname|safe }}";
  console.log("in in ", b);
  // console.log("messagesa are ", messages);
  const a = JSON.parse(document.getElementById("room-name").textContent);
  console.log("a is ", a);
</script>
<script src="{% static 'scripts/chatroom.js'%}"></script>
{%endblock%} {%block content%}
<a href="{%url 'homepage'%}">Home</a>
<a href="{%url 'profile'%}">Profile</a>
<h2>ChatRoom Name : {{host_room.room_name}}</h2>
<p>@{{host_room.user_created.username}}</p>
<div
  style="
    width: 700px;
    height: 400px;
    background-color: azure;

    margin-left: 50px;
    overflow-y: auto;
  "
>
  <form
    method="POST"
    action="{%url 'messagehandler' host_room.user_created.username host_room.room_name%}"
  >
    {%csrf_token%} <input type="text" name="message" />
    <input type="submit" value="sent" />
  </form>
  {%for message in messages%} {%ifequal request.user message.message_sent%}
  <div>
    <p>{{message.message_sent.username}} : {{message.message}}</p>
  </div>

  {%else%}
  <div>
    <p>{{message.message}} : {{message.message_sent.username}}</p>
  </div>

  {%endifequal%} {%endfor%}
</div>
<div>
  room name :{{room_name.room_name}}
  <h2>{{roomname}}</h2>
</div>
{{ roomname|json_script:"room-name" }} {%endblock%}
